.contentWrapper {
  position: absolute;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 50px);

  color: white;

  .title {
    font-size: 24px;
    line-height: 40px;
    padding: 24px;
    margin: 0;

    a {
      color: white;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 768px) {
      font-size: 32px;
      width: 810px;
      line-height: 56px;
      margin: 0;
    }
  }

  .subtitle {
    color: #E8E8E8;
    padding: 24px;
    margin: 0;

    a {
      color: #e8e8e8;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 810px;
      color: #E8E8E8;
      margin: 0;
    }
  }
}